<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>catway</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/dashboard">Retour Tableau de bord</a></li>
                <li><a href="/catway/catwaysList">Liste des catways</a></li>
                <li><a href="/booking/bookingsList">Liste des réservations</a></li> 
                <form action="/user/logout" method="post">
                    <button type="submit">Déconnexion</button>
                </form>
            </ul>
        </nav>
    </header>   
    <main>
        <div>
            <h1><%= title %></h1>
            <span>Type : <%= catway.type%></span>
            <span>État du catway : <%= catway.catwayState %></span>
        </div>
    </main>
    <footer>
        <span>
            <small>
                © 2025 Port de plaisance Russel
            </small>
        </span>
    </footer>
</body>
</html>