<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <header>
        <h1>
            Bienvenue sur l'API du Port de plaisance Russel
        </h1>
    </header>
    <main>
        <section>
            <p>
            Cette API REST permet de gérer les catways et les réservations associées. Elle offre un espace 
            administrateur sécurisé avec un tableau de bord, ainsi qu'une documentation de l'API accessible depuis la page d’accueil.
            </p>
            <a href="">
                Voir la documentation de l'API
            </a>
        </section>
        <section>
            <h2>
                Connexion
            </h2>

            <% if (typeof error !== 'undefined') {
                %><p style="color: red;"><%= error %></p><%
            }%>

            <form method="POST" action="/user/login">
                <input type="email" name="email" placeholder="Email" required autocomplete="email">
                <input type="password" name="password" placeholder="Mot de passe" required autocomplete="current-password">
                <button type="submit">Se connecter</button>
            </form>
        </section>
    </main>
    <footer>
        <span>
            <small>
                © 2025 Port de plaisance Russel
            </small>
        </span>
    </footer>
</body>
</html>