<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <header>

    </header>
    <main>
        <h1>
            Bienvenue sur l'API du Port Russel
        </h1>
        <p>
            Connexion <a href="/dashboard">au dashboard</a>
        </p>
    </main>
    <footer>

    </footer>
</body>
</html>